<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Random MOF generation">
  <meta name="author" content="Tom Daff">

  <title>Webswitch random structure</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" type="text/css">

  <!-- Custom styles for this template -->
  <link href="sticky-footer.css" rel="stylesheet" type="text/css">

</head>

<body>
  <!-- Wrap all page content here -->

  <div id="wrap">
    <!-- Begin page content -->

    <div class="container">
      <div class="page-header">
        <h1>Webswitch random MOF generator</h1>
      </div>

      <p class="lead">For every visit to this page, a new MOF will
      be generated randomly from billions of combinations of functional
      group modifications of known MOFs.</p>

      <p>More information can be found in <a href="link-to-info">Some
      info here</a>.</p>

      <p>Failed to make a MOF this time.</p>

        <a class="btn btn-default" href="random">
          <i class="glyphicon glyphicon-refresh"></i> Please Try Again! </a></p>
    </div>

  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">MOF randomiser copyright <a href=
      "http://titan.chem.uottawa.ca">The Woo Lab</a> and Tom Daff.</p>
    </div>
  </div>
</body>
</html>
