<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Random MOF generation">
  <meta name="author" content="Tom Daff">

  <title>Webswitch random structure</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" type="text/css">

  <!-- Custom styles for this template -->
  <link href="sticky-footer.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="JSmol.min.js"></script>
  <script type="text/javascript">


  // note that the variable name MUST match the first parameter in quotes


  ;(function() {

  // logic is set by indicating order of USE -- default is HTML5 for this test page, though
  var use = "HTML5"//"JAVA HTML5 IMAGE" // WEBGL only by request by link below.
  var s = document.location.search;


  // Developers: The debugCode flag is checked in j2s/java/core.z.js,
  // and, if TRUE, skips loading the core methods, forcing those
  // to be read from their individual directories. Set this
  // true if you want to do some code debugging by inserting
  // System.out.println, document.title, or alert commands
  // anywhere in the Java or Jmol code.

  Jmol.debugCode = (s.indexOf("debugcode") >= 0);

  //if (s.indexOf("?") < 0) s = "USE=HTML5"

  if (s.indexOf("USE=") >= 0)
    use = s.split("USE=")[1].split("&")[0]
  else if (s.indexOf("JAVA") >= 0)
    use = "JAVA"
  else if (s.indexOf("IMAGE") >= 0)
    use = "IMAGE"
  else if (s.indexOf("NOWEBGL") >= 0)
    use = "JAVA IMAGE"
  else if (s.indexOf("WEBGL") >= 0)
    use = "WEBGL HTML5"
  if (s.indexOf("NOWEBGL") >= 0)
    use = use.replace(/WEBGL/,"")
  var useSignedApplet = (s.indexOf("SIGNED") >= 0);
  if(useSignedApplet && use == "HTML5") use = "JAVA";

  jmol_isReady = function(applet) {
    document.title = (applet._id + " is ready")
    Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
  }

  InfoA = {
    width: "100%",
    height: "100%",
    debug: false,
    color: "white",
    addSelectionOptions: false,
    serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/jsmol.php",
    use: use,
    coverImage: "",//"data/1hxw.png",        // initial image instead of applet
    coverScript: "",      // special script for click of cover image (otherwise equal to script)
    deferApplet: false,                  // wait to load applet until click
    deferUncover: false,                 // wait to uncover applet until script completed
    jarPath: "java",
    j2sPath: "j2s",
    jarFile: (useSignedApplet ? "JmolAppletSigned.jar" : "JmolApplet.jar"),
    isSigned: useSignedApplet,
    disableJ2SLoadMonitor: true,
    disableInitialConsole: true,
    readyFunction: null,
    script: "load \"{{ cif_filename }}\" {1 1 1};"
  }


  })();



  Jmol.setDocument(document);

  // notice that we are using no document.write() function here. All DOM-based.
  // Jmol.getAppletHtml is working.

  $(document).ready(function(){
    Jmol.setDocument(0);
    jmol1 = Jmol.getApplet("jmol1", InfoA)
    $("#appletplace1").html(Jmol.getAppletHtml(jmol1));
  });


  </script>
</head>

<body>
  <!-- Wrap all page content here -->

  <div id="wrap">
    <!-- Begin page content -->

    <div class="container">
      <div class="page-header">
        <h1>Webswitch random MOF generator</h1>
      </div>

      <p class="lead">For every visit to this page, a new MOF will
      be generated randomly from billions of combinations of functional
      group modifications of known MOFs.</p>

      <p>More information can be found in <a href="link-to-info">Some
      info here</a>.</p>

      <div id="appletplace1" style="width:100%;height:600px"></div>
      <div id="info-group">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{ base_structure }}</span>
              Original MOF name:
          </li>
          <li class="list-group-item">
            <span class="badge">{{ mof_name }}</span>
              Functional group string:
          </li>

          <li class="list-group-item">
            <span class="badge">{{ cif_filename }}</span>
              MOF CIF file name:
          </li>
          <li class="list-group-item">
            <span class="badge">{{ mepo_compliant }}</span>
              MEPO-QEq compliant[<a href="#Kadantsev2013">Kadantsev2013</a>]:
          </li>
          <li class="list-group-item">
            <span class="badge">?????</span>
              Synthesis SA Score[<a href="#Ertl2009">Ertl2009</a>]:
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Extra details</h4>
            <p class="list-group-item-text">{% raw extra_info %}</p>
          </li>
        </ul>
        <p>
          <a class="btn btn-primary" href="{{ cif_filename }}">Download CIF</a>
          <a class="btn btn-default" href="random">
            <i class="glyphicon glyphicon-refresh"></i> Make another </a></p>
      </div>
      <div id="customisation">
        <form role="form" class="form-inline" onsubmit="return joinGroups(this);">
          <div class="form-group">

            <div class="select">
              <select multiple class="form-control" name="groups">
                {% for ident, group in functional_groups.items() %}
                  <option title="{{ group.name }} (smiles: {{ group.smiles }})">{{ ident }}</option>
                {% end %}
              </select>
            </div>

          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-default">Customise</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div id="footer">
    <div class="container">
      <h4>References</h4>
      <ul>
        {% for ref in references %}
          <li id="{{ ref.key }}"><a href="http://dx.doi.org//{{ ref.doi }}"> {{ ref.key }} </a>"{{ ref.title }}" {{ ref.author }} <em>{{ ref.journal }}</em> <strong>{{ ref.year }}</strong></li>
        {% end %}
      </ul>
    </div>
    <div class="container">
      <p class="text-muted credit">MOF randomiser copyright <a href=
      "http://titan.chem.uottawa.ca">The Woo Lab</a> and Tom Daff.</p>
    </div>
  </div>
</body>
</html>
